.content-wrapper {
  max-width: 1344px;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.login-container {
  background-color: #f7f3ed;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: 400px;
  /* height: 177px; */
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.login-container h2 {
  font-size: var(--size-1);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Figtree", sans-serif;
}

.login-container p {
  font-size: var(--size-0);
  margin-top: 0;
  margin-bottom: 45px;
  font-family: "Figtree", sans-serif;
}

.btn-login-appointment {
  margin-left: auto;
  margin-right: auto;
  width: 103px;
  height: 38px;
}

/* ----------------------------------------- */
/* --- For appointment-booking-none.html --- */
/* ----------------------------------------- */

.appointment-container {
  width: 100%;
  max-width: 1349px;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 136px;
}

/* --- Page Title --- */
.main-title {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: var(--size-5);
  margin-bottom: 80px;
}

.main-title span {
  color: var(--color-primary);
}

/* --- Top Banner --- */
.no-appointments-banner {
  background-color: #f7f3ed;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
  font-family: "Figtree", sans-serif;
}

.doctor-no-appointments-banner {
  background-color: #f7f3ed;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
  font-family: "Figtree", sans-serif;
}

.banner-text h3 {
  font-size: var(--size-1);
  font-weight: bold;
  margin-bottom: 11px;
}

/* --- Main Booking Layout --- */
.booking-wrapper {
  display: flex;
  gap: 59px;
}

/* --- Shared Card Styles --- */
.booking-card {
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--color-light-grey);
  box-sizing: border-box;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card-header h2 {
  font-size: var(--size-2);
  font-weight: bold;
  margin: 0;
}

/* --- Left Column: Doctor Selector --- */
.doctor-selector {
  flex-basis: 50%;
  height: 328px;
  border-radius: 20px;
}

.doctor-selector h2 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: var(--size-2);
}

.btn-view-all {
  width: 121px;
  height: 50px;
}

.view-all-btn:hover {
  background-color: var(--color-primary-hover);
}

.dropdown-mock {
  background-color: white;
  border: 1px solid var(--color-light-grey);
  border-radius: 20px;
  padding: 75px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-mock span {
  font-size: var(--size-1);
  font-family: "Figtree", sans-serif;
}

.dropdown-icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Right Column: Schedule Selector --- */
.schedule-selector {
  flex-basis: 50%;
  height: 563px;
}

.schedule-selector h2 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: var(--size-2);
}

.date-input-wrapper {
  width: 193px;
  height: 50px;
  position: relative;
}

.date-input-wrapper input {
  width: 193px;
  height: 50px;
  padding: 15.5px 26px;
  font-family: "Figtree", sans-serif;
  font-size: var(--size-0);
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.date-input-wrapper text {
  font-size: var(--size-0);
  color: black;
}

.date-input-wrapper .date-icon {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.date-input-wrapper .date-icon img {
  display: block;
  width: 26px;
  height: 26px;
}

.timeslot-selector h3 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-size: var(--size-2);
  margin-top: 64px;
  margin-bottom: 38px;
}

.timeslot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 22.5px;
  row-gap: 15px;
}

.timeslot-btn {
  font-family: "Figtree", sans-serif;
  font-size: var(--size-0);
  font-weight: bold;
  padding: 15.5px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--color-light-grey);
  background-color: white;
  color: black;
  transition: all 0.2s ease;
}

.timeslot-btn:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.timeslot-btn.selected {
  background-color: #dde7fa;
  border-color: var(--color-primary);
}

.timeslot-btn.disabled {
  background-color: #e3e3e3;
  color: #b1b1b1;
  border-color: #b1b1b1;
  cursor: not-allowed;
}

.form-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 42px;
  margin-top: 83px;
}

.cancel-btn {
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  font-weight: bold;
}

.cancel-btn:hover {
  color: var(--color-primary);
}

.btn-book {
  border: none;
  padding: 5px 32px;
}

.book-btn:hover {
  background-color: #4a76c8;
}

@media (max-width: 900px) {
  .booking-wrapper {
    flex-direction: column;
  }

  .doctor-selector,
  .schedule-selector {
    flex-basis: 100%;
  }

  .timeslot-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: var(--size-3);
  }

  .no-appointments-banner {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-0);
  }

  .booking-card {
    padding: 30px;
  }

  .card-header h2 {
    font-size: var(--size-1);
    margin-bottom: 38px;
  }

  .form-controls {
    flex-direction: column-reverse;
    gap: var(--size-0);
    align-items: stretch;
  }

  .book-btn {
    width: 100%;
  }

  .cancel-btn {
    text-align: center;
  }
}

/* --- Styles for Doctor Dropdown --- */
.dropdown-content-wrapper span {
  font-size: var(--size-0);
  font-family: "Figtree", sans-serif;
}

.doctor-list {
  display: none;
  margin-top: 12px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  max-height: 280px;
  overflow-y: auto;
}

.doctor-list::-webkit-scrollbar {
  display: none;
}

.doctor-item {
  display: flex;
  align-items: top;
  gap: 16px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 14px;
}

.doctor-item img {
  width: 126px;
  height: 126px;
  border-radius: 12px;
  object-fit: cover;
}

.doctor-info {
  display: flex;
  flex-direction: column;
}

.doctor-name {
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  font-size: var(--size-1);
  margin-top: 10px;
  margin-bottom: 10px;
}

.doctor-specialty {
  font-family: "Figtree", sans-serif;
  font-size: var(--size-0);
}

.doctor-item:hover {
  background-color: #5686e520;
  border-radius: 15px;
  margin: 14px;
}

/* --- Styles for the "Open" State --- */
.doctor-selector.open .doctor-list {
  display: block; /* Shows the list */
}

/* --- Styles for the "Selected" State --- */
.dropdown-content-wrapper .doctor-item {
  padding: 0;
  background-color: transparent !important;
  cursor: default;
  flex-grow: 1;
}

.dropdown-content-wrapper img {
  width: 126px;
  height: 126px;
  border-radius: 12px;
  object-fit: cover;
}

.dropdown-mock {
  padding-top: 28.73px;
  padding-bottom: 28.73px;
  padding-left: 26.49px;
}

.doctor-selector.has-selection .dropdown-mock {
  padding: 14px 32px 14px 14px;
}

.doctor-selector.has-selection .doctor-name {
  font-family: "Libre Baskerville", serif;
  font-size: var(--size-1);
  font-weight: bold;
}

.doctor-selector.has-selection .doctor-specialty {
  font-family: "Figtree", sans-serif;
  font-size: var(--size-0);
}

/* ------------------------------------------- */
/* --- For appointment-booking-booked.html --- */
/* ------------------------------------------- */

.appointments-banner {
  background-color: var(
    --color-background
  ); 
  border-radius: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 58px;
  font-family: "Figtree", sans-serif;
  flex-direction: column;
  align-items: stretch;
}

.banner-text p {
  font-size: var(--size-1);
  margin: 0;
}

.appointments-banner .banner-text p,
.no-appointments-banner .banner-text p {
  margin-bottom: 33px;
}

.appointment-card {
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.appointment-card .doctor-pic {
  width: 80px;
  height: 80px;
  border-radius: 12px;
  object-fit: cover;
}

.appointment-card .appointment-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 7px;
  font-family: "Figtree", sans-serif;
}

.appointment-details .appointment-time {
  font-size: var(--size-1);
  font-weight: bold;
  font-family: "Figtree", sans-serif;
}

.appointment-details .doctor-name {
  font-size: var(--size-0);
  font-weight: unset;
  font-family: "Figtree", sans-serif;
  margin: 0;
}

.btn-reschedule {
  width: 145px;
  height: 50px;
}

.btn-view-dash {
  width: 200px;
}

.timeslot-btn.booked {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  border-color: #363636;
  background: #d6d6d6;
  color: #000000;
}

.timeslot-btn.your-booking {
  border: 2px solid var(--color-status-green);
  background: rgba(42,157,143,0.08);
  color: var(--color-status-green);
}

.timeslot-btn.selected {
  box-shadow: 0 6px 10px rgba(0,0,0,0.06);
}
